html, body {
height: 100%;
}

main {
flex: 1;
padding: 20px;
background-color: #333333;
color: #ffffff;
}

.text-muted{
    color: white;
}

.footer {
background-color: black;
padding: 1rem;
text-align: center;
flex-shrink: 0;
height: 5vh;
}