/* Estilos personalizados */
header {
  padding: 20px;
  background-color:black ;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  color: white;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-toggler {
  color: white;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
}

.nav-link {
  color: white;
  padding: 8px 16px;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    background-color: black;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }

  .navbar-collapse.show .navbar-nav {
    opacity: 1;
    visibility: visible;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }

  .navbar-toggler {
    display: block;
  }
}
